soapserver/xaraya.wsdl

<?xml version="1.0"?>
<!-- TODO: clean this up and make it work "out of the box" for generic SOAP clients -->
<definitions name="Soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.xaraya.com/2003/xaraya.xsd" xmlns:tns="http://www.xaraya.com/2003/xaraya.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsdl="http://www.xaraya.com/2003/xaraya.xsd">
	<types>
		<xsd:schema targetNamespace="http://www.xaraya.com/2003/xaraya.xsd" 
            xmlns="http://schemas.xmlsoap.org/wsdl/"
            xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
            xmlns:tns="http://www.xaraya.com/2003/xaraya.xsd"
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element minOccurs="1" maxOccurs="unbounded" name="myelement0" ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]" />
			<xsd:complexType name="wsModAPIFuncRequest">
				<xsd:sequence>
					<xsd:element name="module" type="xsd:string" />
					<xsd:element name="func" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
					<xsd:element name="args" type="xsd:xsdl:myelement0" />
				</xsd:sequence>
			</xsd:complexType>
			<!--xsd:element minOccurs="1" maxOccurs="unbounded" name="wsModAPIFuncResponse" wsdl:arrayType="xsd:string[]" /-->
			<xsd:complexType name="wsModAPIFuncResponse">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:element ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="wsModAPIFuncRequest">
		<part name="wsModAPIFuncRequestSoapMsg" element="xsdl:wsModAPIFuncRequest"/>
	</message>
	<message name="wsModAPIFuncResponse">
		<part name="wsModAPIFuncResponseSoapMsg" element="xsdl:wsModAPIFuncResponse"/>
	</message>
	<portType name="XarayaSoapPortType">
		<operation name="wsModAPIFunc">
			<documentation>Generic Xaraya SOAP Interface</documentation>
			<input message="tns:wsModAPIFuncRequest" />
			<output message="tns:wsModAPIFuncResponse" />
		</operation>
	</portType>
	<binding name="XarayaSoapBinding" type="tns:XarayaSoapPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
			<operation name="wsModAPIFunc">
				<soap:operation style="document" soapAction=""/>
				<input>
					<soap:body use="literal"/>
				</input>
				<output>
					<soap:body use="literal"/>
				</output>
			</operation>
	</binding>
	<service name="Soap">
		<documentation>
			Generic Xaraya SOAP Service
		</documentation>
		<port name="XarayaSoapPort" binding="tns:XarayaSoapBinding">
			<soap:address location="http://brumdall2m.bru.fsc.net/xaraya/ws.php?type=soap"/>
		</port>
	</service>
</definitions>
